# Python
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
build/

# Django
db.sqlite3
*.sqlite3
*.log
localsettings.py
staticfiles/
media/

# Entorno
.env
.env.local
.env.*.local

# Node
node_modules/
theme/static_src/node_modules/
theme/static_src/dist/

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel/
